* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #686466;
}
.container {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10rem;
}

form {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 2.5rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
  align-items: center;
}
input {
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #209eb4;
  width: 14.1rem;
  text-align: center;
}

.tittle {
  margin: 5px;
  margin-bottom: 10px;
  border-bottom: solid 3px #ebd9f5;
}
.tittle h1 {
  color: #b1e1e9;
  font-weight: bold;
  font-size: 36px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 15px;
  gap: 10px;
}
button {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #209eb4;
  font-size: 13px;
}
a {
  color: inherit;
  text-decoration: none;
}
label {
  font-size: 18px;
}
